@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(97.02% 0.01 308.36);
  --foreground: oklch(19.98% 0.04 308.36);
  --card: oklch(100% 0 0);
  --card-foreground: oklch(19.98% 0.04 308.36);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(19.98% 0.04 308.36);
  --primary: oklch(39.92% 0.182 308.36);
  --primary-foreground: oklch(100% 0 0);
  --primary-light: oklch(58% 0.13 308.36);
  --primary-dark: oklch(25% 0.12 308.36);
  --secondary: oklch(65% 0.15 160);
  --secondary-foreground: oklch(100% 0 0);
  --muted: oklch(93.18% 0.02 308.36);
  --muted-foreground: oklch(35.497% 0.02766 308.967);
  --accent: oklch(65% 0.15 160);
  --accent-foreground: oklch(100% 0 0);
  --destructive: oklch(52.1% 0.206 25.13);
  --destructive-foreground: oklch(100% 0 0);
  --border: oklch(91.31% 0.02 308.36);
  --input: oklch(100% 0 0);
  --ring: oklch(39.92% 0.182 308.36);
  --chart-1: oklch(39.92% 0.182 308.36);
  --chart-2: oklch(65% 0.15 160);
  --chart-3: oklch(58% 0.13 308.36);
  --chart-4: oklch(25% 0.12 308.36);
  --chart-5: oklch(85% 0.1 320);
  --radius: 0.625rem;
  --sidebar: oklch(100% 0 0);
  --sidebar-foreground: oklch(19.98% 0.04 308.36);
  --sidebar-primary: oklch(39.92% 0.182 308.36);
  --sidebar-primary-foreground: oklch(100% 0 0);
  --sidebar-accent: oklch(65% 0.15 160);
  --sidebar-accent-foreground: oklch(100% 0 0);
  --sidebar-border: oklch(91.31% 0.02 308.36);
  --sidebar-ring: oklch(39.92% 0.182 308.36);
}

.dark {
  --background: oklch(14.85% 0.03 308.36);
  --foreground: oklch(95.4% 0.02 308.36);
  --card: oklch(18.52% 0.04 308.36);
  --card-foreground: oklch(95.4% 0.02 308.36);
  --popover: oklch(18.52% 0.04 308.36);
  --popover-foreground: oklch(95.4% 0.02 308.36);
  --primary: oklch(58% 0.13 308.36);
  --primary-foreground: oklch(14.85% 0.03 308.36);
  --primary-light: oklch(65% 0.11 308.36);
  --primary-dark: oklch(39.92% 0.182 308.36);
  --secondary: oklch(75% 0.12 160);
  --secondary-foreground: oklch(14.85% 0.03 308.36);
  --muted: oklch(27.8% 0.04 308.36);
  --muted-foreground: oklch(88.217% 0.06246 307.13);
  --accent: oklch(75% 0.12 160);
  --accent-foreground: oklch(14.85% 0.03 308.36);
  --destructive: oklch(58.33% 0.225 25.13);
  --destructive-foreground: oklch(100% 0 0);
  --border: oklch(27.8% 0.04 308.36);
  --input: oklch(20.94% 0.04 308.36);
  --ring: oklch(58% 0.13 308.36);
  --chart-1: oklch(58% 0.13 308.36);
  --chart-2: oklch(75% 0.12 160);
  --chart-3: oklch(65% 0.11 308.36);
  --chart-4: oklch(39.92% 0.182 308.36);
  --chart-5: oklch(85% 0.08 320);
  --sidebar: oklch(18.52% 0.04 308.36);
  --sidebar-foreground: oklch(95.4% 0.02 308.36);
  --sidebar-primary: oklch(58% 0.13 308.36);
  --sidebar-primary-foreground: oklch(14.85% 0.03 308.36);
  --sidebar-accent: oklch(75% 0.12 160);
  --sidebar-accent-foreground: oklch(14.85% 0.03 308.36);
  --sidebar-border: oklch(27.8% 0.04 308.36);
  --sidebar-ring: oklch(58% 0.13 308.36);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
